<?xml version="1.0"?>
<model>
  <name>Pillow</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>JoK</name>
   <email>chokpisit.kasemphaibulsuk@mail.utoronto.ca</email>
  </author>

  <description>
    Bed Model for Pillow Placement Project
  </description>
</model>