<?xml version="1.0"?>
<model>
  <name>goal</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>JoK</name>
   <email>chokpisit.kasemphaibulsuk@mail.utoronto.ca</email>
  </author>

  <description>
    Goal Pose of Pillow Represent as a Block
  </description>
</model>